<div class="home">

    <div class="btn-group main-nav">
      <a class="btn btn-primary active" href="#fakelink"><span class="fui-home"></span></a>
      <a class="btn btn-primary" href="#fakelink"><span class="fui-eye"></span></a>
      <a class="btn btn-primary" href="#fakelink"><span class="fui-search"></span></a>
    </div>

	<div class="container">
		<ul class="faceroll">
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/batman.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">Batman</a> is attending the <a href="#">Cleveland Ballet</a> with <a href="#">3</a> other mutual friends</p>
				</div>
			</li>
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/hulk.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">The Hulk</a> is looking for more people to go to <a href="#">A Cavs Game</a>.</p>
					<a href="#fakelink" class="btn btn-block btn-lg btn-primary join-link"><span class="fui-check"></span>Interested?</a>
				</div>
			</li>
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/flash.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">Flash</a> attended <a href="#">A House of Blues Concert</a> and loved it!</p>
				</div>
			</li>
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/ironman.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">Ironman</a> is attending the <a href="#">Cleveland Ballet</a> with <a href="#">3</a> other mutual friends</p>
				</div>
			</li>
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/spiderman.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">Spiderman</a> is attending the <a href="#">Cleveland Ballet</a> with <a href="#">3</a> other mutual friends</p>
				</div>
			</li>
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/superman.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">Superman</a> is attending the <a href="#">Cleveland Ballet</a> with <a href="#">3</a> other mutual friends</p>
				</div>
			</li>
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/wonderwoman.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">Wonder Woman</a> is attending the <a href="#">Cleveland Ballet</a> with <a href="#">3</a> other mutual friends</p>
				</div>
			</li>
			<li>
				<div class="leftroll">
					<img src="/images/profile_pics/yoda.png" />
				</div>
				<div class="rightroll">
					<p><a href="#">Yoda</a> is attending the <a href="#">Cleveland Ballet</a> with <a href="#">3</a> other mutual friends</p>
				</div>
			</li>
		</ul>
	</div>
</div>