<div class="search">
	<div class="btn-group main-nav">
      <a class="btn btn-primary" href="/home"><span class="fui-home"></span></a>
      <a class="btn btn-primary" href="#fakelink"><span class="fui-eye"></span></a>
      <a class="btn btn-primary active" href="/search"><span class="fui-search"></span></a>
    </div>
	<div class="container">
		<h5 class="demo-panel-title">Activity Cost</h5>
		<select class="form-control select select-primary" data-toggle="select">
			<option value="0">Free activity</option>
			<option value="1">Cost associated</option>
			<option value="2">Does not matter</option>
		</select>

		<h5 class="demo-panel-title">Environment</h5>
		<select class="form-control select select-primary" data-toggle="select">
			<option value="0">Indoor</option>
			<option value="1">Outdoor</option>
			<option value="2">Both</option>
		</select>

		<h5 class="demo-panel-title">Interests</h5>
		<select class="form-control select select-primary" data-toggle="select">
			<option value="0">Art</option>
			<option value="1">Dining</option>
			<option value="2">Entertainment</option>
			<option value="3">Exercise</option>
			<option value="4">Health</option>
			<option value="5">Museum</option>
			<option value="6">Nightlife</option>
			<option value="7">Sports</option>
		</select>

		<h5 class="demo-panel-title">Who are you going with?</h5>
		<select class="form-control select select-primary" data-toggle="select">
			<option value="0">Just Me</option>
			<option value="1">Family & Friends</option>
			<option value="2">Kids</option>
		</select>

		<h5 class="demo-panel-title">Age Range</h5>
		<select class="form-control select select-primary" data-toggle="select">
			<option value="0">Children (0-12)</option>
			<option value="1">Teen (13-17)</option>
			<option value="2">Adult (18-20)</option>
			<option value="3">Adult (21+)</option>
		</select>

		<a class="btn btn-primary btn-lg btn-block submit" href="/">Search</a>
	</div>
</div>