<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <!-- Loading Bootstrap -->
    <link href="/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.min.css" rel="stylesheet">

    <link href="/css/styles.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <base href="/">
  </head>
  <body>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script src="/js/controllers.js"></script>
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/vendor/video.js"></script>
    <script src="/js/flat-ui.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>